/carsService/node_modules
/trucksService/node_modules
carsService/node_modules/
orchestrator/Feugeseot_Microservice/node_modules/
trucksService/node_modules/
carsService/.env/
orchestrator/.env/
trucksService/.env/

